//Primary
$bright-blue: hsl(220, 98%, 61%);
$checkbox-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

//LIGHT
$v-light-gray: hsl(0, 0%, 98%);
$v-light-blue: hsl(236, 33%, 92%);
$l-light-grayish-blue: hsl(233, 11%, 84%);
$l-dark-grayish-blue: hsl(236, 9%, 61%);
$l-v-dark-grayish-blue: hsl(235, 19%, 35%);

//DARK
$v-dark-blue: hsl(235, 21%, 11%);
$vd-desaturated-blue: hsl(235, 24%, 19%);
$d-light-grayish-blue: hsl(234, 39%, 85%);
$dh-light-grayish-blue: hsl(236, 33%, 92%);
$d-dark-grayish-blue: hsl(234, 11%, 52%);
$d-v-grayish-blue: hsl(233, 14%, 35%);
$d-v-grayish-blue2:  hsl(237, 14%, 26%);